# The application’s ID, obtained during strava app registration.
STRAVA_CLIENT_ID=*****
# The application’s secret, obtained during registration.
STRAVA_CLIENT_SECRET=*****
# Url to Ollama
OLLAMA_URL="http://localhost:11434/api/generate"
# Interval to get activities from stava and to greate new title/description: default 5hours
STRAVA_INTERVAL=5