:root {
    --primary-bg: #0a0a0a;
    --primary-surface: #1a1a1a;
    --primary-surface-variant: #2a2a2a;

    --text-primary: var(--st-accent-orange);
    --text-inverse: #212529;

    --shadow-small: 0 2px 4px var(--st-orange);
    --shadow-medium: 0 4px 8px var(--st-orange);
    --shadow-large: 0 6px 16px var(--st-orange);


    --st-orange-gradient: #FC4C0245;


    --activity-border: 1px solid black;

}

.info_btn {
    color: white;
}

/*.settings-textarea.settings-field-input > textarea {*/
/*    background-color: var(--primary-surface-variant);*/
/*}*/
