:root {
    --primary-bg: #ffffff;
    --primary-surface: #f8f9fa;
    --primary-surface-variant: #e9ecef;

    --text-primary: var(--st-orange);
    --text-inverse: #212529;

    --box-shadow: #6c757d;

    --shadow-small: 0 2px 4px var(--box-shadow);
    --shadow-medium: 0 4px 8px var(--box-shadow);
    --shadow-large: 0 6px 16px var(--box-shadow);

    --st-orange-gradient: #FC4C0245;

    --activity-border: 1px solid var(--st-orange-gradient);
}

#ai-summary {
    color: var(--text-inverse);
}

.info_btn {
    color: var(--text-inverse);
}

