{% match activity %}
{% when Some(data) %}
<div id="ai-summary">
    <div class="activity-summary" id="summary">
        <div class="activity-header">
            <h1>
                {{ data.name }}
            </h1>
            <h2 class="activity-description">
                {{ data.description }}
            </h2>
        </div>
    </div>
    <div class="footer">
        <div class="activity-stats">
            <div class="stat stats-sm">
                <div class="stat-subtext">
                    <i class="bi bi-clock"></i>
                </div>
                <div class="stat-text">{{data.elapsed_time}}</div>
            </div>
            <div class="stat stats-sm">
                <div class="stat-subtext">
                    <i class="bi bi-geo-alt-fill text-danger"></i>
                </div>
                <div class="stat-text">
                    {{data.distance}} km
                </div>
            </div>

            {% match data.average_heartrate %}
            {% when Some(data) %}
            <div class="stat stats-sm">
                <div class="stat-subtext">
                    <i class="bi bi-heart-pulse"></i>
                </div>
                <div class="stat-text">
                    {{ "{:.0}"|format(data) }} bpm
                </div>
            </div>
            {% when None %}
            {% endmatch %}

            {% match data.pr_count %}
            {% when Some(data) %}
            <div class="stat stats-sm">
                <div class="stat-subtext">
                    <i class="bi bi-trophy"></i>
                </div>
                <div class="stat-text">
                    {{ data }}
                </div>
            </div>
            {% when None %}
            {% endmatch %}
        </div>
    </div>
    <div class="activity-date" style="text-align: center;">
        {{data.start_date_local}}
    </div>


    <form id="activityForm" style="display: none">
        <input type="text" name="athlete_id" value="{{ athlete_id }}">
        <input type="text" name="activity_id" value="{{ activity_id }}">
        <input type="text" name="description" value=" {{ data.description }}">
        <input type="text" name="name" value=" {{ data.name }}">
    </form>

    <div class="gen-btn" id="gen-btn">
        <button class="gen-button" hx-post="/update/activity" hx-trigger="click"
                hx-include="#activityForm"
                hx-indicator="#loading-container" hx-target="#activity-results"
                hx-on:htmx:before-request="before_request_ai()">
            Save
        </button>
        <button class="gen-button" onclick="reGen({{ athlete_id }}, {{ activity_id }})">
            <i class="bi bi-arrow-clockwise"></i>
        </button>
    </div>
</div>
<div id="activity-results"></div>
{% when None %}
<div class="activity-summary error">
    <div class="activity-header empty">
        <h1>
            Activity Error
        </h1>
        <h2 class="activity-description">
            Unable to find activity
        </h2>
    </div>
</div>
{% endmatch %}

<div id="info_ai_template" hx-swap-oob="true">
    <div style=" position: relative; top: 470px;">
        <div>
            <div id="info_activity_update" class="info_container info_activity_update">
                Update strava activity with the AI generated name and description
            </div>

            <svg style="position: absolute;top: -190px;right: 200px;pointer-events: none;width: 350px;height: 200px;">
                <defs>
                    <!-- Define the arrowhead -->
                    <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="10" refY="3.5" orient="auto">
                        <polygon points="0 0, 10 3.5, 0 7" fill="#CC4200"></polygon>
                    </marker>
                </defs>

                <path d="M 150 250 Q 100 80 265 15" stroke="#CC4200" stroke-width="2" fill="transparent"
                      marker-end="url(#arrowhead)"></path>
            </svg>
        </div>

        <div>
            <div id="info_activity_regen" class="info_container info_activity_regen">
                <span style="font-weight: 800"> Click to re-create name and description </span> <br>
                <span> Will use prompt to generated name and description no need to 'save changes'. </span> <br>
                <span> Remember to 'save changes' for the auto update of activities. </span>
            </div>

            <svg style="position: absolute;top: -190px;right: 0px;pointer-events: none;width: 350px;height: 200px;">
                <defs>
                    <!-- Define the arrowhead -->
                    <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="10" refY="3.5" orient="auto">
                        <polygon points="0 0, 10 3.5, 0 7" fill="#CC4200"></polygon>
                    </marker>
                </defs>

                <path d="M 290 200 Q 300 50 195 15" stroke="#CC4200" stroke-width="2" fill="transparent"
                      marker-end="url(#arrowhead)"></path>
            </svg>
        </div>

    </div>
</div>


